* {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  

  h1 {
    font-size: 36px;
    color: #333;
  }
  

  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  
  #baslik {
    font-size: 48px;
    font-weight: bold;
    color: #0077b6;
  }
  .metin {
    text-align: center; 
    line-height: 2; 
}

.kapsayici
{
  text-align: center;
}

.kutu
{
  width: 100;
  height: 100px;
  margin: 10px;

}
.sayfadivi
{
  display: flex;
}
.search-box
{
  align-items: center;
  justify-content: flex-end;
  
}

.search-box input 
{
  width: 250px; /* Genişlik */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-box button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  width: 100px;
}


